<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>noShot</string>
		<key>volume</key>
		<integer>0</integer>
		<key>hkcaffeine</key>
		<integer>0</integer>
		<key>hkenergyCalories</key>
		<integer>0</integer>
		<key>hkfat</key>
		<integer>0</integer>
		<key>hksaturatedFat</key>
		<integer>0</integer>
		<key>hkunsaturatedFat</key>
		<integer>0</integer>
		<key>hksodium</key>
		<integer>0</integer>
		<key>hkpotassium</key>
		<integer>0</integer>
		<key>hkcarbs</key>
		<integer>0</integer>
		<key>hksugar</key>
		<integer>0</integer>
		<key>hkprotein</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>singleShot</string>
		<key>volume</key>
		<integer>33</integer>
		<key>hkcaffeine</key>
		<real>70.66</real>
		<key>hkenergyCalories</key>
		<integer>3</integer>
		<key>hkfat</key>
		<real>0.06</real>
		<key>hksaturatedFat</key>
		<real>0.03</real>
		<key>hkunsaturatedFat</key>
		<real>0.03</real>
		<key>hksodium</key>
		<real>4.67</real>
		<key>hkpotassium</key>
		<real>38.3</real>
		<key>hkcarbs</key>
		<real>0.5600000000000001</real>
		<key>hksugar</key>
		<integer>0</integer>
		<key>hkprotein</key>
		<real>0.033</real>
	</dict>
	<dict>
		<key>title</key>
		<string>doubleShot</string>
		<key>volume</key>
		<integer>66</integer>
		<key>hkcaffeine</key>
		<real>141.33</real>
		<key>hkenergyCalories</key>
		<integer>6</integer>
		<key>hkfat</key>
		<real>0.13</real>
		<key>hksaturatedFat</key>
		<real>0.065</real>
		<key>hkunsaturatedFat</key>
		<real>0.065</real>
		<key>hksodium</key>
		<real>9.33</real>
		<key>hkpotassium</key>
		<real>76.59999999999999</real>
		<key>hkcarbs</key>
		<real>1.13</real>
		<key>hksugar</key>
		<integer>0</integer>
		<key>hkprotein</key>
		<real>0.067</real>
	</dict>
	<dict>
		<key>title</key>
		<string>tripleShot</string>
		<key>volume</key>
		<integer>100</integer>
		<key>hkcaffeine</key>
		<integer>212</integer>
		<key>hkenergyCalories</key>
		<integer>9</integer>
		<key>hkfat</key>
		<real>0.2</real>
		<key>hksaturatedFat</key>
		<real>0.1</real>
		<key>hkunsaturatedFat</key>
		<real>0.1</real>
		<key>hksodium</key>
		<integer>14</integer>
		<key>hkpotassium</key>
		<integer>115</integer>
		<key>hkcarbs</key>
		<real>1.7</real>
		<key>hksugar</key>
		<integer>0</integer>
		<key>hkprotein</key>
		<real>0.1</real>
	</dict>
</array>
</plist>
