<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>black</string>
		<key>volume</key>
		<integer>0</integer>
		<key>hkcaffeine</key>
		<integer>0</integer>
		<key>hkenergyCalories</key>
		<integer>0</integer>
		<key>hkfat</key>
		<integer>0</integer>
		<key>hksaturatedFat</key>
		<integer>0</integer>
		<key>hkunsaturatedFat</key>
		<integer>0</integer>
		<key>hksodium</key>
		<integer>0</integer>
		<key>hkpotassium</key>
		<integer>0</integer>
		<key>hkcarbs</key>
		<integer>0</integer>
		<key>hksugar</key>
		<integer>0</integer>
		<key>hkprotein</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>lactoseFree</string>
		<key>volume</key>
		<integer>100</integer>
		<key>hkcaffeine</key>
		<integer>0</integer>
		<key>hkenergyCalories</key>
		<integer>47</integer>
		<key>hkfat</key>
		<real>1.5</real>
		<key>hksaturatedFat</key>
		<real>0.9</real>
		<key>hkunsaturatedFat</key>
		<integer>0</integer>
		<key>hksodium</key>
		<real>0.05</real>
		<key>hkpotassium</key>
		<integer>0</integer>
		<key>hkcarbs</key>
		<real>4.9</real>
		<key>hksugar</key>
		<real>4.9</real>
		<key>hkprotein</key>
		<real>3.4</real>
	</dict>
	<dict>
		<key>title</key>
		<string>fullFat</string>
		<key>volume</key>
		<integer>100</integer>
		<key>hkcaffeine</key>
		<integer>0</integer>
		<key>hkenergyCalories</key>
		<integer>64</integer>
		<key>hkfat</key>
		<real>3.5</real>
		<key>hksaturatedFat</key>
		<real>2.1</real>
		<key>hkunsaturatedFat</key>
		<integer>0</integer>
		<key>hksodium</key>
		<integer>50</integer>
		<key>hkpotassium</key>
		<integer>150</integer>
		<key>hkcarbs</key>
		<real>4.8</real>
		<key>hksugar</key>
		<real>2.8</real>
		<key>hkprotein</key>
		<real>3.3</real>
	</dict>
	<dict>
		<key>title</key>
		<string>soyMilk</string>
		<key>volume</key>
		<integer>100</integer>
		<key>hkcaffeine</key>
		<integer>0</integer>
		<key>hkenergyCalories</key>
		<integer>54</integer>
		<key>hkfat</key>
		<real>1.8</real>
		<key>hksaturatedFat</key>
		<real>0.2</real>
		<key>hkunsaturatedFat</key>
		<integer>1</integer>
		<key>hksodium</key>
		<integer>51</integer>
		<key>hkpotassium</key>
		<integer>118</integer>
		<key>hkcarbs</key>
		<integer>6</integer>
		<key>hksugar</key>
		<integer>4</integer>
		<key>hkprotein</key>
		<real>3.3</real>
	</dict>
</array>
</plist>
