<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>noSugar</string>
		<key>volume</key>
		<integer>0</integer>
		<key>hkcaffeine</key>
		<integer>0</integer>
		<key>hkenergyCalories</key>
		<integer>0</integer>
		<key>hkfat</key>
		<integer>0</integer>
		<key>hksaturatedFat</key>
		<integer>0</integer>
		<key>hkunsaturatedFat</key>
		<integer>0</integer>
		<key>hksodium</key>
		<integer>0</integer>
		<key>hkpotassium</key>
		<integer>0</integer>
		<key>hkcarbs</key>
		<integer>0</integer>
		<key>hksugar</key>
		<integer>0</integer>
		<key>hkprotein</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>singlePiece</string>
		<key>volume</key>
		<integer>8</integer>
		<key>hkcaffeine</key>
		<integer>0</integer>
		<key>hkenergyCalories</key>
		<real>32.25</real>
		<key>hkfat</key>
		<integer>0</integer>
		<key>hksaturatedFat</key>
		<integer>0</integer>
		<key>hkunsaturatedFat</key>
		<integer>0</integer>
		<key>hksodium</key>
		<real>0.08</real>
		<key>hkpotassium</key>
		<real>0.17</real>
		<key>hkcarbs</key>
		<integer>8</integer>
		<key>hksugar</key>
		<integer>8</integer>
		<key>hkprotein</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>twoPieces</string>
		<key>volume</key>
		<integer>16</integer>
		<key>hkcaffeine</key>
		<integer>0</integer>
		<key>hkenergyCalories</key>
		<real>64.5</real>
		<key>hkfat</key>
		<integer>0</integer>
		<key>hksaturatedFat</key>
		<integer>0</integer>
		<key>hkunsaturatedFat</key>
		<integer>0</integer>
		<key>hksodium</key>
		<real>0.17</real>
		<key>hkpotassium</key>
		<real>0.33</real>
		<key>hkcarbs</key>
		<integer>17</integer>
		<key>hksugar</key>
		<integer>17</integer>
		<key>hkprotein</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>threePieces</string>
		<key>volume</key>
		<integer>24</integer>
		<key>hkcaffeine</key>
		<integer>0</integer>
		<key>hkenergyCalories</key>
		<real>96.75</real>
		<key>hkfat</key>
		<integer>0</integer>
		<key>hksaturatedFat</key>
		<integer>0</integer>
		<key>hkunsaturatedFat</key>
		<integer>0</integer>
		<key>hksodium</key>
		<real>0.25</real>
		<key>hkpotassium</key>
		<real>0.5</real>
		<key>hkcarbs</key>
		<integer>25</integer>
		<key>hksugar</key>
		<integer>25</integer>
		<key>hkprotein</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
